body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btn-circle {
  width: 25px;
  height: 25px;
  text-align: center;
  color: #b6b6b6;
  padding: 0px 0;
  font-size: 20px;
  line-height: 1.5;
  border-radius: 15px;
}