<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel='stylesheet' href='css/style.css' />
  </head>
  <body>
    <header>
      <div class="jumbotron text-center">
        <div class="container">
          <h1><%= title %></h1>
          <p> Click sign in to start. </p>
          <h1><a href="/auth/twitter" class="btn btn-primary btn-lg">Sign in with Twitter</a></h1>
        </div>
      </div>

    </header>

  </body>
</html>