<!DOCTYPE html>
<html ng-app="twitterModule">
  <head>
    <title>TweetHub</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel='stylesheet' href='/css/style.css' />
    <!-- Custom CSS -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">
  </head>
  <body ng-controller="mainController">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TweetHub</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <% if(loggedin != undefined) { %>
              <a> <%= user.name %></a>
              <% } %>
            </li>

            <li>
              <% if (loggedin != undefined) { %>
                <a href="/logout">logout</a></li>
              <% } else { %>
                <a href="/auth/twitter">login</a>
              <% } %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li><br><br></li>
          <li>
            <div id="category-form" class="row">
              <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                  <div class="form-group">

                    <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                    <input type="text" class="form-control input-lg text-center" placeholder="New category" ng-model="formData.text">
                  </div>

                  <!-- createToDo() WILL CREATE NEW CATEGORIES -->
                  <button type="submit" class="btn btn-primary btn-lg" ng-click="createCategory()">Add</button>
                </form>
              </div>
            </div>
          </li>
          <li><br></li>
          <li>
            <div id="category-list" class="row">
              <div class="col-sm-8 text-center">

                <!-- LOOP OVER THE CATEGORIES IN $scope.categories -->
                <div class="checkbox" ng-repeat="category in categories">
                  <h4>
                    <label>
                      <!--<input type="checkbox" ng-click="deleteCategory(category._id)"> -->
                      {{ category.text }}
                    </label>
                  </h4>
                </div>

              </div>
            </div>
          </li>
        </ul>
      </div>

      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <br><br>
            <div class="col-lg-12">
              <br><br>
              <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Categories</a>

            </div>
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->



    <script src="/js/sidebar/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/sidebar/bootstrap.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>

    <script src="/js/libs/jquery/dist/jquery.js"></script>
    <script src="/js/libs/underscore/underscore.js"></script>
    <!--<script src="/js/libs/backbone/backbone.js"></script>-->
    <script src="/js/libs/handlebars/handlebars.js"></script>
    <!--<script src="/js/hbs/templates.js"></script>-->
    <!--<script src="/js/main.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="twittercore.js"></script>

  </body>
</html>